.header {
    background-color: #1db68b;
}

.index-title{
    color: #ffffff;
    margin-right: 10%;
    font-size:xx-large;
}

.body-header{
    background-color: #FFFFFF;
    margin: 15px !important;
}

.default-text{
    font-size: x-large;
    color: #444444;
}

#num1,#num2,#num3 {
    width: 90%;
    height:50px;
    border: 3px solid #FFFFFF;
    text-align: center;
    font-size: 30px;
}

.button-sms{
    background-color: #FDFDFD;
    border:2px solid #1db68b;
}

.button-sms p{
    font-size: xx-large;
    margin: 0 auto;
    color:#1db68b;
}

#phonenumber {
   font-size: xx-large; color: #ff7787;
}

#correct{
    width:100%;
    height:50px;
    border: 3px solid #FFFFFF;
    border-radius:4px;
    text-align: center;
    font-size: 30px;
}

.login-button{
    border: 2px solid #5f96e2;
    border-radius: 4px;
    font-size:xx-large;
    color:#FFFFFF;
    background-color: #5f96e2;
    margin-top: 5% !important;
    margin: 0 auto;
}

.retry{
   border: 2px solid #5f96e2;
    border-radius: 4px;
    font-size:xx-large;
    color:#FFFFFF;
    background-color: #5f96e2;
    margin-top: 5% !important;
    margin: 0 auto;
}