.header {
    background-color: #1db68b;
    height:70px;
}

.index-title{
    color: #ffffff;
    font-size: 4vw;
    position: relative;
    top:-20px;
}

.body-header{
    background-color: #FFFFFF;
    margin-top: 15px !important;
    margin-bottom: 15px !important;
}

.default-text{
    color: #444444;
    font-size: 3vw;
}

#num1,#num2,#num3 {
    font-size: 3vw;
    width:100%;
    height:50px;
    border: 3px solid #FFFFFF;
    text-align: center;
}

.button-sms{
    background-color: #FDFDFD;
    border:2px solid #1db68b;
}

.button-sms p{
    font-size: 4vw;
    margin: 0 auto;
    color:#1db68b;
}

#phonenumber {
    color: #ff7787;
    font-size: 4.5vw;
}

#correct{
    width:100%;
    height:50px;
    border: 3px solid #FFFFFF;
    border-radius:4px;
    text-align: center;
    font-size: 4vw;
}

.login-button{
    border: 2px solid #5f96e2;
    border-radius: 4px;
    color:#FFFFFF;
    background-color: #5f96e2;
    margin-top: 5% !important;
    margin: 0 auto;
    font-size: 4vw;
}

.retry{
   border: 2px solid palevioletred;
    border-radius: 4px;
    color:#FFFFFF;
    background-color: palevioletred;
    margin-top: 5% !important;
    margin: 0 auto;
    font-size: 4vw;
}