* {
    -webkit-tap-highlight-color: rgba(0,0,0,0); /* make transparent link selection, adjust last value opacity 0 to 1.0 */
}

body {
    -webkit-touch-callout: none;                /* prevent callout to copy image, etc when tap to hold */
    -webkit-text-size-adjust: none;             /* prevent webkit from resizing text to fit */
    -webkit-user-select: none;                  /* prevent copy paste, to allow, change 'none' to 'text' */
    background-color:white;
    background-attachment:fixed;
    font-family:'HelveticaNeue-Light', 'HelveticaNeue', Helvetica, Arial, sans-serif;

    font-size:12px;
    height:100%;
    margin:0px;
    padding:0px;
    text-transform:uppercase;
    width:100%;
}

.header{
    padding: 0%;
    background-color: #1db68b;
    text-align: center;
    color:#FFFFFF;
    font-size: 60pt;
}

#search {
    font-size:medium;
    width: 100%;
    height : 30px;
    background-color: lightgray;
    border: 2px solid lightgray;
    border-radius: 2px;
}

.search-1 {
    color: #666666;
    font-size: medium;
}

#resultList{
    margin : 2%;
}

.resultview{
    margin: 2%;
}

.maintext{

    font-size: 10vw;
}
.logoimg{
    width:30px;
    position: relative;
    top:12px;
}
.backimg{
    width:30px;
    position: relative;
}
.backimg2{
    width:30px;
    position: absolute;
    left:15px;
    top:50px;
    display: none;
}
.searchinput{
    height:10px;
}
.searchimg{
    height:30px;
}

.seltext{
    font-size: 5vw;
    text-align: center;
}
.disabled_color{

    background-color: #cbcbcb;

}
.nopadding{
    padding:0px;
}
.disnone{
    display: none;
}
.border_left{
    border-left:1px solid #cbcbcb;
}
.text-center{

}
.vertical_center{
    vertical-align: middle;
}
.imgsize{
    width:30px;

}